
#scrapbook {
  background: #777;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}
#channel {
  background: #999;
  height:100%;
  position:fixed;
  top:0;
  left:50%;
}
.collection {
  width:100%;
  border:1px solid #ddd;
  height:200px;
}
