#bridge {
  width:100%;
  text-align:center;
}

#scrapbook {
  background: #777;
  height:100%;
  width:50%;
  position:fixed;
  top:0;
  left:0;

}
#channel {
  background: #999;
  height:100%;
  width:50%;
  position:fixed;
  top:0;
  left:50%;

}
.collection {
  list-style-type: none;
  width:100%;
  min-height:100px;
  background-color: rgba(195, 203, 212, 0.3);
  padding:0;
  overflow:hidden;
}
.collection li {
  float:left;
  margin: 0;
  padding: 0;
}


.connectedSortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}
.connectedSortable li {

}
.connectedSortable li img {
  border: 1px solid #ddd;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
  -moz-box-shadow:    3px 3px 3px 3px rgba(0,0,0,0.4);
  box-shadow:         3px 3px 3px 3px rgba(0,0,0,0.4);
}


.placeholder {
  background-color: rgba(0,0,0,0.8);
}